#!/usr/bin/env fish

set -gx FZF_DEFAULT_CMD 'rg --files --hidden --glob "!.git"'

set -gx FZF_DEFAULT_OPTS "\
--margin=10%,5% \
--border=sharp \
--pointer=' ' \
--marker=' ' \
--prompt=' ' \
--preview-label-pos='bottom' \
--preview-window='border-sharp' \
--color=bg+:{{ .drapeau.colors.surface0 }},bg:{{ .drapeau.colors.base }},spinner:{{ .drapeau.colors.rosewater }},hl:{{ .drapeau.colors.red }} \
--color=fg:{{ .drapeau.colors.text }},header:{{ .drapeau.colors.red }},info:{{ .drapeau.colors.mauve }},pointer:{{ .drapeau.colors.rosewater }} \
--color=marker:{{ .drapeau.colors.rosewater }},fg+:{{ .drapeau.colors.text }},prompt:{{ .drapeau.colors.mauve }},hl+:{{ .drapeau.colors.red }}"

# fzf.fish
set -g fzf_preview_dir_cmd eza --all --color=always --sort=name --group-directories-first
set -g fzf_diff_highlighter delta --paging=never --features=arctic-fox
