#!/usr/bin/env fish

{{ if eq .drapeau.colors.name "catppuccin" -}}
set -gx GTK_THEME {{ .drapeau.colorscheme | title }}-Standard-Pink-Dark
{{ end -}}

{{ if eq .drapeau.colors.name "rose-pine" -}}
set -gx GTK_THEME {{ .drapeau.colorscheme }}-gtk
{{ end -}}
