#!/usr/bin/env fish

function lzg --wraps=lazygit
    set -f configs "$XDG_CONFIG_HOME/lazygit/config.yml,$HOME/.themes/lazygit/{{ .drapeau.colors.name }}/themes-mergable/{{ .drapeau.colors.flavor }}/pink.yml"

    lazygit --use-config-file="$configs"
end
