{{- $passphrase := promptStringOnce . "passphrase" "passphrase" -}}
{{- $colorscheme := "rose-pine" -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

progress = true
encryption = "gpg"

[diff]
{{ if lookPath "delta" -}}
command = "delta"
args = ["--syntax-theme", {{ $colorscheme | quote }}, "--features", "mellow-barbet", "{{ "{{" }} .Destination  {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
pager = "delta"
{{ end -}}
exclude = ["scripts"]

[gpg]
symmetric = true
args = ["--batch", "--passphrase", {{ $passphrase | quote }}, "--no-symkey-cache", "--quiet"]

[git]
autoPush = true

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/.install-bw.sh"

[data]
gpgKey = {{ output (joinPath .chezmoi.sourceDir "dot_local/bin/executable_get-gpg-key") | trim | quote }}
passphrase = {{ $passphrase | quote }}
osid = {{ $osid | quote }}
{{ if eq $osid "linux-debian" -}}
isServer = true
{{ else }}
isServer = false
{{ end }}

[data.drapeau]
colorscheme = {{ $colorscheme | quote }}
rofi = "type-1"

# Defaults for when config is regenerated.
[data.drapeau.colors]
name = "catppuccin"
flavor = "frappe"

base00 = "#303446" # base
base01 = "#292c3c" # mantle
base02 = "#414559" # surface0
base03 = "#51576d" # surface1
base04 = "#626880" # surface2
base05 = "#c6d0f5" # text
base06 = "#f2d5cf" # rosewater
base07 = "#babbf1" # lavender
base08 = "#e78284" # red
base09 = "#ef9f76" # peach
base0A = "#e5c890" # yellow
base0B = "#a6d189" # green
base0C = "#81c8be" # teal
base0D = "#8caaee" # blue
base0E = "#ca9ee6" # mauve
base0F = "#eebebe" # flamingo
