[submodule ".themes/grub/catppuccin"]
	path = .themes/grub/catppuccin
	url = https://github.com/catppuccin/grub.git
[submodule ".themes/sddm/catppuccin"]
	path = .themes/sddm/catppuccin
	url = https://github.com/catppuccin/sddm.git
[submodule ".themes/tty/catppuccin"]
	path = .themes/tty/catppuccin
	url = https://github.com/catppuccin/tty.git
[submodule "/home/marley/.config/nvim"]
	path = /home/marley/.config/nvim
	url = https://github.com/NvChad/NvChad
[submodule "/home/marley/.config/awesome/lib/bling"]
	path = /home/marley/.config/awesome/lib/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "/home/marley/.config/awesome/lib/layout-machi"]
	path = /home/marley/.config/awesome/lib/layout-machi
	url = git@github.com:xinhaoyuan/layout-machi.git
[submodule "/home/marley/.tmux/plugins/tpm"]
	path = /home/marley/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/home/marley/.config/git/gitmoji-fuzzy-hook"]
	path = /home/marley/.config/git/gitmoji-fuzzy-hook
	url = https://gitlab.com/raabf/gitmoji-fuzzy-hook.git
[submodule "/home/marley/.themes/lazygit/catppuccin"]
	path = /home/marley/.themes/lazygit/catppuccin
	url = git@github.com:catppuccin/lazygit.git
[submodule "/home/marley/.themes/ventoy/catppuccin"]
	path = /home/marley/.themes/ventoy/catppuccin
	url = git@github.com:Dooez/ventoy-catppuccin.git
[submodule ".config/awesome/lib/rubato"]
	path = .config/awesome/lib/rubato
	url = git@github.com:andOrlando/rubato.git
[submodule ".config/awesome/lib/catppuccin"]
	path = .config/awesome/lib/catppuccin
	url = git@github.com:catppuccin/lua.git
