[submodule ".themes/grub/catppuccin"]
	path = .themes/grub/catppuccin
	url = https://github.com/catppuccin/grub.git
[submodule ".themes/sddm/catppuccin"]
	path = .themes/sddm/catppuccin
	url = https://github.com/catppuccin/sddm.git
[submodule ".themes/tty/catppuccin"]
	path = .themes/tty/catppuccin
	url = https://github.com/catppuccin/tty.git
[submodule ".config/awesome/lib/bling"]
	path = .config/awesome/lib/bling
	url = https://github.com/BlingCorp/bling.git
[submodule ".config/awesome/lib/layout-machi"]
	path = .config/awesome/lib/layout-machi
	url = git@github.com:xinhaoyuan/layout-machi.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/git/gitmoji-fuzzy-hook"]
	path = .config/git/gitmoji-fuzzy-hook
	url = https://gitlab.com/raabf/gitmoji-fuzzy-hook.git
[submodule ".themes/lazygit/catppuccin"]
	path = .themes/lazygit/catppuccin
	url = git@github.com:catppuccin/lazygit.git
[submodule ".themes/ventoy/catppuccin"]
	path = .themes/ventoy/catppuccin
	url = git@github.com:Dooez/ventoy-catppuccin.git
[submodule ".config/awesome/lib/rubato"]
	path = .config/awesome/lib/rubato
	url = git@github.com:andOrlando/rubato.git
[submodule ".config/awesome/lib/catppuccin"]
	path = .config/awesome/lib/catppuccin
	url = git@github.com:catppuccin/lua.git
[submodule ".themes/bat/catppuccin"]
	path = .themes/bat/catppuccin
	url = git@github.com:catppuccin/bat.git
[submodule ".themes/rofi/catppuccin"]
	path = /home/marley/.themes/rofi/catppuccin
	url = git@github.com:catppuccin/rofi.git
[submodule ".fonts"]
	path = .fonts
	url = git@github.com:punkfairie/Fairiesevka.git
