*background: {{ .drapeau.colors.base }}
*foreground: {{ .drapeau.colors.text }}

! black
*color0: {{ .drapeau.colors.surface1 }}
*color8: {{ .drapeau.colors.surface2 }}

! red
*color1: {{ .drapeau.colors.red }}
*color9: {{ .drapeau.colors.red }}

! green
*color2: {{ .drapeau.colors.green }}
*color10: {{ .drapeau.colors.green }}

! yellow
*color3: {{ .drapeau.colors.yellow }}
*color11: {{ .drapeau.colors.yellow }}

! blue
*color4: {{ .drapeau.colors.blue }}
*color12: {{ .drapeau.colors.blue }}

! magenta
*color5: {{ .drapeau.colors.pink }}
*color13: {{ .drapeau.colors.pink }}

! cyan
*color6: {{ .drapeau.colors.teal }}
*color14: {{ .drapeau.colors.teal }}

! white
*color7: {{ .drapeau.colors.subtext1 }}
*color15: {{ .drapeau.colors.subtext0 }}

! Make Rofi use fish shell
rofi.run-command: fish -c '{cmd}'
rofi.run-list-command: 'fish -c functions'
