{{ if eq .drapeau.colors.name "rose-pine" -}}
return {
  {
    "akinsho/bufferline.nvim",
    opts = function(_, opts)
      local highlights = require("rose-pine.plugins.bufferline")
      table.insert(opts, { highlights = highlights })
    end,
  },
}
{{ end -}}
