return {
  {
    "LazyVim/LazyVim",
    opts = {
      {{ if eq .drapeau.colorscheme "rose-pine" -}}
      colorscheme = "rose-pine-main",
      {{ else -}}
      colorscheme = {{ .drapeau.colors.name | quote }},
      {{ end -}}
    },
  },
}
