return {
  {
    "williamboman/mason.nvim",
    opts = {
      ensure_installed = {
        -- general
        "prettier",

        -- data/conf
        "yamllint",

        {{ if not .isServer -}}
        -- php
        "blade-formatter",
        "pint",
        "rustywind",
        {{ end -}}

        -- shell
        "shfmt",
      },
    },
  },
}
