"$schema" = 'https://starship.rs/config-schema.json'

palette = "default"

[palettes.default]
base00 = {{ .drapeau.colors.base00 | quote }}
base01 = {{ .drapeau.colors.base01 | quote }}
base02 = {{ .drapeau.colors.base02 | quote }}
base03 = {{ .drapeau.colors.base03 | quote }}
base04 = {{ .drapeau.colors.base04 | quote }}
base05 = {{ .drapeau.colors.base06 | quote }}
base06 = {{ .drapeau.colors.base06 | quote }}
base07 = {{ .drapeau.colors.base07 | quote }}
base08 = {{ .drapeau.colors.base08 | quote }}
base09 = {{ .drapeau.colors.base09 | quote }}
base0A = {{ .drapeau.colors.base0A | quote }}
base0B = {{ .drapeau.colors.base0B | quote }}
base0C = {{ .drapeau.colors.base0C | quote }}
base0D = {{ .drapeau.colors.base0E | quote }}
base0F = {{ .drapeau.colors.base0F | quote }}

[character]
success_symbol = "[[](base0F) ](base0B)"
error_symbol = "[](base08)"
vimcmd_symbol = "[](base0B)"
vimcmd_replace_one_symbol = "[](base0B)"
vimcmd_replace_symbol = "[](base0B)"
vimcmd_visual_symbol = "[](base09)"

[aws]
symbol = "  "

[buf]
symbol = " "

[c]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[directory]
read_only = " 󰌾"

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "
style = 'bold base07'

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "

[status]
disabled = false
style = 'base08'
symbol = '✗'
not_executable_symbol = ''
not_found_symbol = ''
sigint_symbol = '󱠰'
signal_symbol = '󱐋'

[sudo]
disabled = false
style = 'base0D'
symbol = '󰌋 '

[swift]
symbol = " "

[username]
format = '[$user]($style) on '

[zig]
symbol = " "
