"$schema" = 'https://starship.rs/config-schema.json'

palette = "default"

[character]
success_symbol = "[[](pink) ](green)"
error_symbol = "[](red)"
vimcmd_symbol = "[](green)"
vimcmd_replace_one_symbol = "[](green)"
vimcmd_replace_symbol = "[](green)"
vimcmd_visual_symbol = "[](peach)"

[palettes.default]
rosewater = {{ .drapeau.colors.rosewater | quote }}
flamingo = {{ .drapeau.colors.flamingo | quote }}
pink = {{ .drapeau.colors.pink | quote }}
mauve = {{ .drapeau.colors.mauve | quote }}
red = {{ .drapeau.colors.red | quote }}
maroon = {{ .drapeau.colors.maroon | quote }}
peach = {{ .drapeau.colors.peach | quote }}
yellow = {{ .drapeau.colors.yellow | quote }}
green = {{ .drapeau.colors.green | quote }}
teal = {{ .drapeau.colors.teal | quote }}
sky = {{ .drapeau.colors.sky | quote }}
sapphire = {{ .drapeau.colors.sapphire | quote }}
blue = {{ .drapeau.colors.blue | quote }}
lavender = {{ .drapeau.colors.lavender | quote }}
text = {{ .drapeau.colors.text | quote }}
subtext1 = {{ .drapeau.colors.subtext1 | quote }}
subtext0 = {{ .drapeau.colors.subtext0 | quote }}
overlay2 = {{ .drapeau.colors.overlay2 | quote }}
overlay1 = {{ .drapeau.colors.overlay1 | quote }}
overlay0 = {{ .drapeau.colors.overlay0 | quote }}
surface2 = {{ .drapeau.colors.surface2 | quote }}
surface1 = {{ .drapeau.colors.surface1 | quote }}
surface0 = {{ .drapeau.colors.surface0 | quote }}
base = {{ .drapeau.colors.base | quote }}
mantle = {{ .drapeau.colors.mantle | quote }}
crust = {{ .drapeau.colors.crust | quote }}

# Presets - NerdFonts
[aws]
symbol = "  "

[buf]
symbol = " "

[c]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[directory]
read_only = " 󰌾"

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "
style = 'bold flamingo'

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "

[status]
disabled = false
style = 'red'
symbol = '✗'
not_executable_symbol = ''
not_found_symbol = ''
sigint_symbol = '󱠰'
signal_symbol = '󱐋'

[sudo]
disabled = false
style = 'blue'
symbol = '󰌋 '

[swift]
symbol = " "

[username]
format = '[$user]($style) on '

[zig]
symbol = " "
