# Commands to run before anything
[pre_commands]
# "Emacs Snapshot" = "rm -rf ~/.emacs.d/elpa.bak && cp -rl ~/.emacs.d/elpa ~/.emacs.d/elpa.bak"


# Commands to run after anything
[post_commands]
# "Emacs Snapshot" = "rm -rf ~/.emacs.d/elpa.bak && cp -rl ~/.emacs.d/elpa ~/.emacs.d/elpa.bak"


# Custom commands
[commands]
"Fish Shell Completions" = "fish_update_completions"
"Update dotfiles dependencies" = "dotfiles submodule update --init --recursive"
"Update package list" = "yay -Qeq > ~/.config/packages/all && set_color green && printf '%s' ï€Œ && set_color normal && printf '%s' ' done\n'"
